<li class='clearfix record <%= cycle("on", "on-hover") %> <%= 'private' if inquiry.isprivate %>' >
  <span class='title'>
    <%= t('.private') if inquiry.isprivate %>
    <%= link_to inquiry.name, admin_inquiry_url(inquiry) %> <%= t('.said') %>
    <span class="preview"><%= truncate(strip_tags(inquiry.message), :length => 60) -%></span>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag('delete.png'), admin_inquiry_url(inquiry),
                :method => :delete, 
                :confirm => t('shared.admin.delete.message', :title => inquiry.name),
                :class => "confirm-delete",
                :title => t('admin.inquiries.delete') -%>

    <%= link_to refinery_icon_tag('zoom.png'), admin_inquiry_url(inquiry),
                :title => t('.read_inquiry') -%>
  </span>
</li>
