<div id='records'>
<%= form_for [:admin, @inquiry] do |f| %>
  <%= render :partial => '/shared/admin/error_messages',
             :locals => {
               :object => @inquiry,
               :include_object_name => true
             } %>
  <div class="field">
    <%= f.required_label :status, :class => 'placeholder-fallback' %>
    <%= f.select :status, [
        [t('isnew', :scope => 'activerecord.attributes.inquiry'), 0],
	[t('approved', :scope => 'activerecord.attributes.inquiry'), 1],
	[t('closed', :scope => 'activerecord.attributes.inquiry'), 2]], :selected => @inquiry.status %>
  </div>
  <div class="field">
    <%= f.required_label :inquiry_category_id, :class => 'placeholder-fallback' %>
    <%= f.collection_select :inquiry_category_id, InquiryCategory.all, :id, :name %> 
  </div>
  <div class="field">
    <%= f.required_label :recipient, :class => 'placeholder-fallback' %>
    <%= f.text_field :recipient, :class => 'text', :placeholder => t('recipient', :scope => 'activerecord.attributes.inquiry') %>
  </div>

  <%= render :partial => "/shared/admin/tabbed_fields",
           :locals => { :f => f,
                        :tabbed_fields => [:answer, :question] } %>

  <%= render :partial => "/shared/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false
              } %>
<% end %>
</div>

