<div id='records'>
<%= form_for [:admin, @inquiry] do |f| %>
  <%= render :partial => '/shared/admin/error_messages',
             :locals => {
               :object => @inquiry,
               :include_object_name => true
             } %>
  <div class="field">
    <%= f.required_label :status, :class => 'placeholder-fallback' %>
    <%= f.select :status, [
        [t('isnew', :scope => 'activerecord.attributes.inquiry'), 0],
	[t('approved', :scope => 'activerecord.attributes.inquiry'), 1],
	[t('closed', :scope => 'activerecord.attributes.inquiry'), 2]], :selected => @inquiry.status %>
  </div>
  <div class="field">
    <%= f.required_label :inquiry_category_id, :class => 'placeholder-fallback' %>
    <%= f.collection_select :inquiry_category_id, InquiryCategory.all, :id, :name %> 
  </div>
  <div class="field">
    <%= f.required_label :recipient, :class => 'placeholder-fallback' %>
    <%= f.text_field :recipient, :class => 'text', :placeholder => t('recipient', :scope => 'activerecord.attributes.inquiry') %>
  </div>
  <!--<div class='field'>
    <div id='page-tabs' class='clearfix ui-tabs ui-widget ui-widget-content ui-corner-all'>
      <ul id='page_parts'>
        <% [:answer, :message].each_with_index do |part, part_index| %>
          <li class='ui-state-default<%= ' ui-state-active' if part_index == 0 %>'>
            <%= link_to part.to_s.titleize, "##{part}" %>
          </li>
        <% end %>
      </ul>

      <div id='page_part_editors'>
        <% [:answer, :message].each do |part| %>
          <div class='page_part' id='<%= part %>'>
            <%= f.text_area part, :rows => 20, :class => 'wymeditor widest' -%>
          </div>
        <% end %>
      </div>
    </div>
  </div>--> 

  <%= render :partial => "/shared/admin/tabbed_fields",
           :locals => { :f => f,
                        :tabbed_fields => [:answer, :message] } %>

  <%= render :partial => "/shared/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false
              } %>
<% end %>
</div>

<% content_for :stylesheets do %>
<!-- Bugfix for refinerycms style -->
<style>
#message.page_part 
{
  padding: 0;
  margin-bottom: 0;
}
</style>
<% end %>