<div id='records'>
<%= form_for [:admin, @inquiry] do |f| %>
  <%= render :partial => '/shared/admin/error_messages',
             :locals => {
               :object => @inquiry,
               :include_object_name => true
             } %>
  <div class="field">
    <%= f.required_label :status, :class => 'placeholder-fallback' %>
    <%= f.select :status, [
        [t('new', :scope => 'activerecord.attributes.inquiry'), 0],
	[t('processing', :scope => 'activerecord.attributes.inquiry'), 1],
	[t('finished', :scope => 'activerecord.attributes.inquiry'), 2]] %> 
  </div>
  <div class="field">
    <%= f.required_label :inquiry_category_id, :class => 'placeholder-fallback' %>
    <%= f.collection_select :inquiry_category_id, InquiryCategory.all, :id, :name %> 
  </div>
  <div class="field">
    <%= f.required_label :recipient, :class => 'placeholder-fallback' %>
    <%= f.text_field :recipient, :class => 'text', :placeholder => t('recipient', :scope => 'activerecord.attributes.inquiry') %>
  </div>
  <div class='field message_field'>
    <%= f.required_label :answer, :class => 'placeholder-fallback' %>
    <%= f.text_area :answer, :rows => 8, :placeholder => t('answer', :scope => 'activerecord.attributes.inquiry') %>
  </div>
  <%= render :partial => "/shared/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => true
              } %>
<% end %>
</div>
