<% content_for :stylesheets do stylesheet_link_tag('inquiries') end%>
<% content_for :body_content_left do %>
<div id='questions'>
    <% if @inquiries.any? -%>
      <%= will_paginate @inquiries %>
      <% @inquiries.each do |inquiry| %>
        <ul>
          <%= render :partial => 'inquiry', :object => inquiry %>
        </ul>
      <% end %>
      <%= will_paginate @inquiries %>
    <% else -%>
      <p>
        <strong><%= t(".no_inquiries") %></strong>
      </p>
    <% end -%>
</div>
<% end %>
<%= render :partial => '/shared/content_page' %>
