<% content_for :stylesheets do stylesheet_link_tag('inquiries') end%>
<% content_for :body_content_left do %>
<div id='categories'>
<%= form_tag list_inquiries_path, :method => :get do %>
  <%= select_tag :inquiry_category_id,
        options_from_collection_for_select(@categories, :url, :name, @category) \
	  + options_for_select([[t('.all'), list_inquiries_path]], @category),
	:onchange => "window.location.href = this.value"%>
  <%#= submit_tag t('.select_category') %>
<% end %>
</div> 
<div id='questions'>
    <% if @inquiries.any? -%>
      <%#= will_paginate @inquiries %>
      <ul>
      <% @inquiries.each do |inquiry| %>
        <li>
          <%= render :partial => 'inquiry', :object => inquiry %>
        </li>
      <% end %>
      </ul>
      <%= will_paginate @inquiries %>
    <% else -%>
      <p>
        <strong><%= t(".no_inquiries") %></strong>
      </p>
    <% end -%>
</div>
<% end %>
<%= render :partial => '/shared/content_page' %>
